asgiref==3.8.1
Django==5.1.4
django-admin-index==4.0.0
django-cleanup==9.0.0
django-extensions==3.2.3
django-ordered-model==3.7.4
django-solo==2.4.0
docutils==0.21.2
graphviz==0.20.3
pydicom==3.0.1
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
