{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}DICOM Server Configuration - CHAVI Client{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto px-4 py-8">
    {% url 'dicom_server:dashboard' as dash_url %}
    {% component "page_header" title="DICOM Server Configuration" icon="fas fa-server" back_url=dash_url back_text="Back to dashboard" %}{% endcomponent %}
    {% component "card" %}{% fill "body" %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-6 flex space-x-3">
                {% component "button" style="primary" type="submit" icon="fas fa-save" %}Save{% endcomponent %}
                {% url 'dicom_server:dashboard' as cancel_url %}{% component "button" style="secondary" href=cancel_url %}Cancel{% endcomponent %}
            </div>
        </form>
        {% component "info_box" style="info" %}{% fill "default" %}Changes to AE title, bind address or port take effect when the DICOM server process is restarted.{% endfill %}{% endcomponent %}
    {% endfill %}{% endcomponent %}
</div>
{% endblock %}
