{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% if object %}Edit{% else %}Add{% endif %} Remote Node - CHAVI Client{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto px-4 py-8">
    {% url 'dicom_server:node_list' as back_url %}
    {% if object %}{% component "page_header" title="Edit Remote DICOM Node" icon="fas fa-network-wired" back_url=back_url back_text="Back to nodes" %}{% endcomponent %}{% else %}{% component "page_header" title="Add Remote DICOM Node" icon="fas fa-network-wired" back_url=back_url back_text="Back to nodes" %}{% endcomponent %}{% endif %}
    {% component "card" %}{% fill "body" %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-6 flex space-x-3">
                {% component "button" style="primary" type="submit" icon="fas fa-save" %}Save{% endcomponent %}
                {% url 'dicom_server:node_list' as cancel_url %}{% component "button" style="secondary" href=cancel_url %}Cancel{% endcomponent %}
            </div>
        </form>
    {% endfill %}{% endcomponent %}
</div>
{% endblock %}
